<!DOCTYPE html>
{% load static %}
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Dokumentas</title>
    <link rel="stylesheet" href="/static/document_style.css">
</head>
<body>
    <div class="document-container">
        <header>
            <h1>AUTOMOBILINIO KRANO, ATLIKTŲ DARBŲ AKTAS</h1>
            <p>Kėdainių Kranai</p>
            <p>Juodkaimių k., Parko g. 20, Kėdainių r. sav.</p>
            <p>Tel.: (8~675) 94329</p>
        </header>

        <section class="details">
            <table>
                <tr>
                    <th>Krano markė/modelis</th>
                    <td>{{ document.model }}</td>
                    <th>Valstybinis Nr.</th>
                    <td>{{ document.registration_number }}</td>
                </tr>
                <tr>
                    <th>Nuomotojo įrangą pristatęs asmuo</th>
                    <td>{{ document.sender_name }}</td>
                    <th>Nuomininko įrangą priėmęs asmuo</th>
                    <td>{{ document.receiver_name }}</td>
                </tr>
                <tr>
                    <th>Keliamoji galia</th>
                    <td>{{ document.lifting_capacity }}</td>
                    <th>Telefonas</th>
                    <td>{{ document.phone }}</td>
                </tr>
                <tr>
                    <th>Paros kaina</th>
                    <td>{{ document.daily_price }}</td>
                    <th>El. paštas</th>
                    <td>{{ document.email }}</td>
                </tr>
            </table>
        </section>

        <section class="client-info">
            <h2>Užsakovo informacija</h2>
            <table>
                <tr>
                    <th>Užsakovas</th>
                    <td>{{ document.client_name }}</td>
                    <th>Objekto adresas</th>
                    <td>{{ document.project_address }}</td>
                </tr>
                <tr>
                    <th>Kilometro kaina</th>
                    <td>{{ document.km_price }}</td>
                    <th>Pravažiuota kilometrų</th>
                    <td>{{ document.distance }}</td>
                </tr>
                <tr>
                    <th>Dirbta parų</th>
                    <td>{{ document.days_worked }}</td>
                </tr>
            </table>
        </section>

        <footer>
            <p>Nuomininko vardu: ____________________</p>
            <p>Nuomotojo vardu: ____________________</p>
        </footer>
    </div>
</body>
</html>
