:root {
    --primary-color: #005f73;
    --secondary-color: #94d2bd;
    --light-bg: #f3f4f6;
    --dark-bg: #1c1c1c;
    --light-text: #333;
    --dark-text: #f3f4f6;
}

/* Bendri stiliai */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-bg);
    color: var(--light-text);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

header {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Lentelių stiliai */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

thead th {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.actions a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 4px;
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.actions a.print {
    background-color: #4caf50;
}

.actions a.edit {
    background-color: #2196f3;
}

.actions a.delete {
    background-color: #f44336;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed; /* Pakeiskite į fixed */
    bottom: 0; /* Nustatykite apačioje */
    left: 0; /* Nustatykite kairėje */
    width: 100%;
    z-index: 1000; /* Užtikrinkite, kad poraštė būtų virš kitų elementų */
}